{:spam ["1 like = 1"
        "I have a surprise on my newest video"
        ["I bet" "won't pin this"]
        "everyone homosexuals are gay"
        "pimba"
        "subscribe to anyone who subs to me"
        "can you guys sub to me"
        "can i get a like so"
        ["if i get" "likes i will"]
        ["if you want to win a" "check this out"]
        "sub for sub"
        "thumbs up if your watching this in"
        "PLEASE DON'T READ THIS. YOU WILL BE"
        "don't read my username"
        "checkout my channel"
        "check out my channel"
        "search for this youtube video"
        "checkout my friends youtube channel"
        "suscribance my channel"
        "Subscribe to my channel"]
 :bullying ["cunt"
            "autist"
            "kill yourself"]
 :hate-speech ["nigga"
               "fag"
               "faggot"]
 :porn []
 :users ["PewDeiPei"
         "pewdiepei"
         "piediepew"]
 }
